section.Login {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.Login .container2 {
  width: 50vw;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  background-color: white;
  /* padding: 20px; */
  border-radius: 7px;
}

section.Login .container2 .user {
  display: flex;
  width: 100%;
}

section.Login .container2 .user .imgBx {
  width: 50%;
}

section.Login .container2 .user .imgBx img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

section.Login .container2 .user .formBx {
  display: flex;
  flex-direction: column;
  width: 60%;
}

section.Login .container2 .user .formBx form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.Login .container2 .user .formBx form h2 {
  margin-bottom: 30px;
  margin-top: 20px;
}

section.Login .container2 .user .formBx form input {
  width: 70%;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 10px 10px;
  background-color: #f6eef0e8;
  transition: all 200ms linear;
}
section.Login .container2 .user .formBx form input:focus {
  box-shadow: 0 0 0 2px #585858;
}

section.Login .container2 .user .formBx form input[type="submit"] {
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-color: #7a7a7a;
  transition: all 200ms linear;
}

section.Login .container2 .user .formBx form input[type="submit"]:hover {
  background-color: rgb(70, 69, 69);
}
